{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Main DIV container for blog post and comments -->
<div class="container-fluid mt-5 mb-5">

  <!-- DIV row displaying the full blog post from the Report model -->
  <div class="row">
    
    <!-- DIV col displaying Report object -->
    <div class="col">

      <!-- Main card DIV for Report display -->
      <div class="card border-secondary mb-3">

        <div class="card-header bg-transparent border-secondary">
          <h2 class="card-title">
            {{ report.title }}
          </h2>
        </div><!-- Close card-header DIV -->

        <div class="card-body">

          <div class="container-fluid">

            <div class="row">

              {% if "placeholder" in report.featured_image.url %}
              <div class="col-12">
                
                {% else %}
                <div class="col-lg-7">
                {% endif %}
                  
                  {% if not report.approved and report.author == user %}
                  <div class="alert alert-danger bg-transparent border-danger" role="alert">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    This report is awaiting approval.
                  </div>
                  
                  {% endif %}
                  <div class="card-text">
                    <p class="description"><em>{{ report.description }}</em></p>
                    <hr>
                    <p>{{ report.content | safe | linebreaks }}<br></p>
                  </div>
                  <p class="description text-end">おしまい?</p>
                  <hr>
                  <div class="d-inline">
                    Written by:&#32;
                    <h3>
                      <a href="{% url 'user_profile' report.author %}">
                        {{ report.author }}
                      </a>
                    </h3>
                    <hr>

                    {% if report.category == "1" %}
                    <p class="description">Category: True Story</p>
                    {% elif report.category == "2" %}
                    <p class="description">Category: Urban Legend</p>
                    {% elif report.category == "3" %}
                    <p class="description">Category: Creative Writing</p>
                    {% elif report.category == "4" %}
                    <p class="description">Category: Creepypasta</p>
                    {% endif %}

                    {% if report.source %}
                    <p class="description">Source: <a href="{{ report.source }}" target="_blank" rel="noopener"
                    aria-label="Visit the original source of the article or story (opens in new window)">{{ report.source }}</a></p>
                    {% endif %}
                    <hr>
                    <p class="description">Date written: {{ report.created_on }}</p>
                  </div>

                  {% if user.is_authenticated and report.author == user %}
                  <div class="text-end mt-5 mb-5">
                    <a class="btn btn-secondary edit-btn" href="{% url 'edit_report' report.slug %}">
                      Edit
                    </a>
                    <button class="btn btn-secondary delete-report-btn"  data-report_id="{{ report.id }}">
                      Delete
                    </button>
                  </div>
                  {% endif %}
                </div>

                <!--
                  Column to display related or default image using if statement
                  IF image set to placeholder
                  THEN display image from static files
                  ELSE display uploaded image (via cloudinary)
                -->
                {% if "placeholder" in report.featured_image.url %}
                <div class="col-lg-5 card border-secondary d-none mb-3 mt-3">
                  
                  {% else %}
                  <div class="col-lg-5 card border-secondary mb-3 pb-3">
                    
                    {% endif %}
                    <div class="card-header">
                      <h3 class="card-title">
                        Related Image
                      </h3>
                    </div>
                    <hr>
                    {% if not report.approved and report.author == user %}
                    <div class="alert alert-danger bg-transparent border-danger" role="alert">
                      <i class="fa-solid fa-triangle-exclamation"></i>
                      This report is awaiting approval.
                    </div>
                    <img src="{{ report.featured_image.url }}" class="p-4" alt="{{ report.title }}">
                    {% else %}
                    <img src="{{ report.featured_image.url }}" class="p-4" alt="{{ report.title }}">
                    {% endif %}
                    <hr>
                    <div class="card-footer">
                      {% if report.image_title %}
                      <h4 class="card-title">{{ report.image_title }}</h4>
                      {% endif %}
                      {% if report.image_credit %}
                      <p>By {{ report.image_credit}}
                      {% endif %}
                      {% if report.image_source %}
                      <a href="{{ report.image_source }}" target="_blank" rel="noopener"
                      aria-label="Visit the original source of the image (opens in new window)"><br>[image_source]</a></p>
                      {% endif %}
                    </div>
                  </div>

                </div><!-- Close DIV Column to display related or default image -->

              </div><!-- Close DIV col -->

            </div><!-- Close DIV row -->
            
            <!-- Comment Form DIV containing Comment Form-->
            <div class="card-footer bg-transparent border-secondary">

              {% if user.is_authenticated %}
              <!-- Comment Form-->
              <form class="d-inline" action="{% url 'like_report' report.slug %}" method="POST">
                
                {% csrf_token %}
                
                {% if liked %}
                
                <button type="submit" name="report_id" value="{{report.slug}}" class="btn btn-link border-danger like-btn">
                  
                    Unlike&#32;<i class="fa-regular fa-thumbs-down"></i>
                  
                </button>
                <h2 class="d-inline align-middle">Likes:&#32;{{ report.likes_number }}</h2>
                
                {% else %}
                <button type="submit" name="report_id" value="{{report.slug}}" class="btn btn-link border-danger like-btn">
                  
                    Like&#32;<i class="fa-regular fa-thumbs-up"></i>
                  
                </button>
                <h2 class="d-inline align-middle">Likes:&#32;{{ report.likes_number }}</h2>
                
                {% endif %}
                
                {% endif %}

              </form><!-- Close Comment Form-->

            </div><!-- Close card-footer DIV containing Comment Form -->
          
          </div><!-- Close DIV container-->

        </div><!-- Close card-body DIV -->

      </div><!-- Close main card DIV for report display -->

    </div><!-- Close DIV col displaying Report object -->

    <!-- DIV container for comment display -->
    <div class="container-fluid mt-5 mb-5">
    <div class="row">
    <div class="col-md-8">
      
      <div class="card border-secondary mb-3 p-3">
        
        <!-- Comment count header -->
        <div class="card-header border-secondary">
          <h3 class="card-title">
            Comments&#32;<i class="far fa-comments"></i>
          </h3>
          &#32;({{ comment_count }})
        </div>

        <!-- Main comments display -->
        <div class="card-body">

          <!-- For loop to display each comment in database -->
          {% for comment in comments %}
          <!--
            DIV class contains IF statement, 
            IF user is comment author and comment not approved
            THEN display comment in faded style.
            IF user is not comment author and comment not approved
            THEN comment not displayed.
          -->
          <div class="p-2 comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
            <h4 class="card-title"><a href="{% url 'user_profile' comment.author %}">{{ comment.author }}</a></h4>
            <div id="comment{{ comment.id }}">
              {{ comment.content | linebreaks }}
            </div>
            <div class="card-footer border-secondary">
              {{ comment.created_on }}
            </div>
          </div>
          <!-- 
            Displays message under comment using if statement.
            IF user is comment author and comment is not approved
            THEN display message 'comment awaiting approval'
          -->
          {% if not comment.approved and comment.author == user %}
          <div class="alert alert-danger bg-transparent border-danger" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i>
            This comment is awaiting approval.
          </div>
          {% endif %}

          <!--
            Displays Edit and Delete buttons using if statement.
            IF logged in user is comment author
            THEN display button DIV 
          -->
          {% if user.is_authenticated and comment.author == user %}
          <div class="text-end">
            <button class="btn btn-secondary edit-btn" data-comment_id="{{ comment.id }}">Edit</button>
            <button class="btn btn-secondary delete-btn" data-comment_id="{{ comment.id }}">Delete</button>
          </div>
          {% endif %}

          <!-- Ends FOR loop displaying each comment -->
          {% endfor %}
          
        <!-- Close comment card body-->
        </div>
        
      <!-- Close comments list card -->
      </div>

    <!-- Close comment card column-->
    </div>
    
    <!-- Display comment creation form -->
    <div class="col-md-4">
      <div class="card border-secondary mb-3 p-3">
        <div class="card-body">

          <!--
            If statement check 
            IF user is logged in
            THEN display form.
            ELSE display message advising log-in.
          -->
          {% if user.is_authenticated %}
          
          <div class="card-header border-secondary">
            <h3 class="card-title">
              Leave a comment&#32;<i class="far fa-comments"></i>
            </h3>
            <p>{{ user.username }}</p>
          </div>

          <!-- Comment creation form -->      
          <form id="commentForm" method="post" style="margin-top: 1.3em;">

            <!-- 
              Using Django Crispy Forms to display the form with very little code.
              https://django-crispy-forms.readthedocs.io/en/latest/
            -->
            {{ comment_form | crispy }}

            <!--
              Cross-Site Request Forgery token.
              "A CSRF token is a secure random token (e.g., synchronizer token or challenge token) that is used to prevent CSRF attacks. 
              The token needs to be unique per user session and should be of large random value to make it difficult to guess."
              - https://www.synopsys.com/glossary/what-is-csrf.html
            -->
            {% csrf_token %}
            
            <button id="submitButton" type="submit" class="btn btn-secondary">
              Submit
            </button>
          
          </form>

          {% else %}
          
              <div class="alert alert-danger bg-transparent border-danger" role="alert">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Log in to leave a comment!
              </div>
          {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div><!-- Close DIV container for comment display -->
  


<!-- Bootstrap modal used for delete comment confirmation. -->
<div class="modal fade justify-content-center" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteModalLabel">
          Delete comment?
          <button type="button" class="btn btn-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </h3>
      </div>
      
      <div class="modal-body">
        <br>
        
        <div class="alert alert-danger bg-transparent border-danger">
          <i class="fa-solid fa-triangle-exclamation"></i>
          Are you sure you want to delete?
        </div>

      </div>
      
      <br>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      
      </div>
    </div>
  </div>
</div><!-- End of Boostrap Modal -->


<!-- Bootstrap modal used for delete report confirmation. -->
<div class="modal fade justify-content-center" id="deleteReportModal" tabindex="-1" aria-labelledby="deleteReportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="deleteReportModalLabel">
          Delete report?
          <button type="button" class="btn btn-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </h3>
      </div>
      
      <div class="modal-body">
        <br>
        
        <div class="alert alert-danger bg-transparent border-danger">
          <i class="fa-solid fa-triangle-exclamation"></i>
          Are you sure you want to delete?
        </div>
      
      </div>
      
      <br>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        
        <a id="deleteReportConfirm" href="#" class="btn btn-danger">
          Delete
        </a>
      </div>
    </div>
  </div>
</div><!-- End of Boostrap Modal -->


<!-- Return to Base HTML -->
{% endblock content %}

<!-- Connect JS file to Base HTML -->
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/delete_report.js' %}"></script>
{% endblock %}