{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid"><div class="pl-5">
    {% if user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'create' %}">Submit a report!</a>
    {% else %}
    <a class="btn btn-danger" href="{% url 'account_login' %}">Login to submit a report!</a>
    {% endif %}
</div>
    <div class="row"><!-- main row -->
        <div class="col-12 mt-3"><!-- main col -->
            <div class="row"><!-- second row -->

                <!-- Display blog post links using for loop -->
                {% for report in report_list %}
                
                <!-- Display entries as size 4 columns to fit 3 per row -->
                <div class="col-md-4">

                    <!-- Displaying Report model entries in boostrap card style -->
                    <div class="card border-secondary mb-3">
                        
                        <!-- 
                            displaying image as header
                            IF no related image exists for blog post
                            THEN display default image from static
                            ELSE display uploaded image.
                        -->
                        <div class="card-header bg-transparent border-secondary">
                                {% if "placeholder" in report.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                  alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ report.featured_image.url }}"
                                  alt="{{ report.title }}">
                                {% endif %}
                        </div>
                        
                        <div class="card-body">
                            
                            <a href="{% url 'full_report' report.slug %}" class="post-link">
                                <h2 class="card-title">{{ report.title }}</h2>
                            </a>
                            
                            <h4 id="confidential">- CONFIDENTIAL -</h4>
                            <p class="card-text">{{ report.excerpt }}</p>
                            <div class="card-footer bg-transparent border-secondary">
                                {{ report.author }} | {{ report.created_on }}
                            </div>
                        
                        </div>
                    </div>
                </div>

                {% endfor %}

                <!-- 
                    Paginate blog entries.
                    Relates to ReportList(generic.ListView).
                    List view creates pages if entries over 6.
                 -->
                
                <div class="container">
                    <div class="row">

                        <!--
                            Displays Next and Previous page buttons if more than one page is generated by ListView
                        -->
                        {% if is_paginated %}
                        <nav class="col" aria-label="Page navigation">
                            
                            <ul class="pagination justify-content-center">
                                
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">
                                        Previous</a></li>
                                {% endif %}
                                
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            
                            </ul>
                        
                        </nav>
                        {% endif %}
                    
                    </div>
                </div>

            <!-- close second row -->
            </div>
        <!-- close main column -->    
        </div>
    <!-- close main row -->
    </div>    
<!-- close container -->
</div>

{% endblock %}