{% extends 'base.html' %}

{% block content %}

<!-- 
    404 error-page 
-->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card border-secondary p-5">
            
                <h1 class="align-self-center mb-5 card-title">
                    <i class="fa-solid fa-eye"></i> File not found!
                </h1>
                
                <p class="mb-5">
                    Sorry. <br>
                    It appears the page you just tried to access no longer exits <br>
                    or perhaps it never did.
                </p>
                
                <a href="{% url 'home' %}" class="btn btn-secondary d-block">
                    Return Home
                </a>
            
            </div>
        </div>
    </div>
</div>

{% endblock content %}