{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Display content from About model -->
<div class="container-fluid mt-5 mb-5">
    
    <div class="row">
        
        <div class="col-md-12 col-lg-4 justify-content-center">
            
            <div class="card p-5 border-secondary">
                <!--
                    Display image for about page with if statement
                    IF image set to placeholder
                    THEN display image from static files
                    ELSE display uploaded image (via cloudinary)
                -->
                <div class="card-body justify-content-center">
                {% if "placeholder" in about.profile_image.url %}
                <img src="{% static 'images/headshot.webp' %}" width="100%" alt="placeholder image" >
                {% else %}
                <img src="{{ about.profile_image.url }}" width="75%" alt="{{ about.title }}">
                {% endif %}
            </div>
            </div>
        
        </div>
    
        <div class="col-md-12 col-lg-8">
            
            <div class="card p-5 border-secondary">

                <h2 class="card-title">{{ about.title }}</h2>
                <p class="card-text">{{ about.content | safe }}</p>
                
                <div class="card-footer border-secondary">
                    {{ about.updated_on }}
                </div>
            
            </div>
        </div>
    </div>
</div>

{% endblock content %}